@import url('https://fonts.googleapis.com/css?family=Exo+2');

// VARIABLES

$font: 'Exo 2';

$break-xl: 900px;
$break-lg: 470px;
$break-md: 413px;
$break-sm: 372px;

$light-red: lighten(red, 20%);
$grey: lighten(#222, 10%);
$blue: lighten(blue, 15%);
$warning: #FF2300;

// BODY
html {
  height: 100vh;
}
body {
  box-sizing: border-box; 
  min-height: 100vh;
  background-color: $light-red;
  font-family: $font, 'sans-sarif';
  * {
    text-align: center;
    box-sizing: border-box;
  }
}
h1, h2 {
  padding-top: 10px;
  margin: 0 5px;
}
h3 {
  margin: 0;
}
input, button {
  background-color: $grey;
  padding: 15px;
  font-size: 13px;
  border: none;
  border-radius: 4px;
}
button {
  background-color: $blue;
  cursor: pointer;
  color: white;
  margin-left: 15px;
  // border: 1px solid $blue;
  &:hover {
    background-color: red;
    transition: 0.5s ease;
  }
}
input {
  color: white;
  text-align: left;
  margin-top: 15px;
  &:focus {
    border-color: $blue;
  }
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
}

// CLASSES

.header {
  background-color: $light-red;
  height: 30vh;
  color: $blue;
}

.content {
  background-color: $grey;
  height: 70vh;
  color: white;
  padding-top: 5px;
  padding-right: 5px;
  .posterContainer {
    width: 240px;
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    .posterContainer::after {
      content: "";
      clear: both;
      display: table;
    }
  }
  .poster {
    height: 50vh;
    width: 240px;
    text-align: center;
  }
  .warning {
    color: $warning;
  }
}

// MEDIA QUERIES
@media screen and (min-width: $break-xl) {
  h1 {
    font-size: 38px;
    // margin-top: 20px;
  }
  h2 {
    font-size: 30px;
  }
  p {
    font-size: 20px;
  }
  .footer {
    font-size: 22px;
  }
}
@media screen and (max-width: $break-lg) {
  h2 {  
    font-size: 20px;
  }
}
@media screen and (max-width: $break-md) {
  h2 {
    font-size: 17px;
  }
  p {
    font-size: 14px;
  }
}
@media screen and (max-width: $break-sm) {
  p { 
    font-size: 11px;
  }
}