
// COLOR VARIABLES
$light-red: lighten(red, 20%);
$grey: lighten(#222, 10%);
$blue: lighten(blue, 15%);

body {
  box-sizing: border-box; 
  background-color: $light-red;
  font-family: sans-serif;
  * {
    text-align: center;
  }
  h3 {
    margin: 0;
  }
}

.app {

}

.header {
  background-color: $light-red;
  height: 15vh;
  color: $blue;
}
.footer {
  background-color: $light-red;
  height: 10vh;
  color: $blue;
}

.content {
  background-color: $grey;
  height: 70vh;
  color: white;
  margin-top: 0;
}
.title {
  color: white;
  text-align: center;
}
.posterContainer {
  width: 240px;
  height: 70vh;
  margin-left: 5px;
  margin-right: 5px;
  float: left;
  .posterContainer::after {
    content: "";
    clear: both;
    display: table;
  }
}
.cursor {
  &:hover {
    // cursor: url(./images/cursor.png), pointer;
  }
}
.poster {
  height: 50vh;
  width: 240px;
  text-align: center;
}
.errors {
  color: white;
}
