
// COLOR VARIABLES
$light-red: lighten(red, 20%);
$grey: lighten(#222, 10%);

body {
  box-sizing: border-box; 
  background-color: $light-red;
  font-family: sans-serif;
}

.app {
  text-align: center;
}

.header {
  background-color: $light-red;
  height: 15vh;
  color: lighten(blue, 15%);
}
.footer {
  background-color: $light-red;
  height: 10vh;
  color: lighten(blue, 15%);
}

.content {
  background-color: $grey;
  height: 70vh;
  color: white;
}

.logo {
  animation: App-logo-spin infinite 2s linear;
  height: 80px;
  padding-top: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
