
// COLOR VARIABLES
$light-red: lighten(red, 20%);
$grey: lighten(#222, 10%);

body {
  box-sizing: border-box; 
  background-color: $light-red;
  font-family: sans-serif;
  * {
    text-align: center;
  }
}

.app {

}

.header {
  background-color: $light-red;
  height: 15vh;
  color: lighten(blue, 15%);
}
.footer {
  background-color: $light-red;
  height: 10vh;
  color: lighten(blue, 15%);
}

.content {
  background-color: $grey;
  height: 70vh;
  color: white;
}
.poster {
  max-width: 50vw;
  max-height: 50vh;
  float: left;
}

.errors {
  color: white;
}
