@import url('https://fonts.googleapis.com/css?family=Exo+2');

// VARIABLES

$font: 'Exo 2';

$break-xl: 900px;
$break-lg: 470px;
$break-md: 413px;
$break-sm: 372px;

$light-red: lighten(red, 20%);
$grey: lighten(#222, 10%);
$blue: lighten(blue, 15%);
$warning: #FF2300;

// BODY

body {
  box-sizing: border-box; 
  background-color: $light-red;
  font-family: $font, 'sans-sarif';
  * {
    text-align: center;
  }
  h1, h2 {
    margin-bottom: 5px;
  }
  h3 {
    margin: 0;
  }
  h4 {
    margin-top: 5px;
  }
}

// MEDIA QUERIES

h1 {
  @media screen and (min-width: $break-xl) {
    font-size: 38px;
    margin-top: 20px;
  }
}

h2 {
  @media screen and (min-width: $break-xl) {
    font-size: 30px;
    margin-top: 20px;
    padding-bottom: 5px;
  }
  @media screen and (max-width: $break-lg) {
    font-size: 20px;
  }
  @media screen and (max-width: $break-md) {
    font-size: 17px;
  }
}

p {
  @media screen and (min-width: $break-xl) {
    font-size: 20px;
  }
  @media screen and (max-width: $break-md) {
    font-size: 14px;
  }
  @media screen and (max-width: $break-sm) {
    font-size: 11px;
  }
}

.footer {
  @media screen and (min-width: $break-xl) {
    font-size: 22px;
  }
}

// CLASSES

.header {
  background-color: $light-red;
  height: 15vh;
  color: $blue;
}
.footer {
  background-color: $light-red;
  height: 10vh;
  color: $blue;
}
.content {
  background-color: $grey;
  height: 70vh;
  color: white;
  padding-top: 5px;
  padding-right: 5px;
}
.title {
  color: white;
  text-align: center;
}
.posterContainer {
  width: 240px;
  height: 70vh;
  margin-left: 5px;
  margin-right: 5px;
  float: left;
  .posterContainer::after {
    content: "";
    clear: both;
    display: table;
  }
}
.poster {
  height: 50vh;
  width: 240px;
  text-align: center;
}
.warning {
  color: $warning;
}